{% capture children %}
  {% content_for 'blocks' %}
{% endcapture %}

{% render 'section', section: section, children: children %}

{% schema %}
{
  "name": "Richtext 234234",
  "tag": "section",
  "class": "rich-text-section",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Layout Wdith"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "container",
      "options": [
        {
          "value": "container-full",
          "label": "Full width"
        },
        {
          "value": "container-full-with-padding",
          "label": "Full width padded"
        },
        {
          "value": "container-full-mobile",
          "label": "Full width mobile only"
        },
        {
          "value": "container",
          "label": "Page width"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 120
    },
    {
      "type": "paragraph",
      "content": "Tablet"
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 60
    }
  ],
  "presets": [
    {
      "name": "Rich text qw3e4",
      "category": "Text",
      "blocks": {
        "heading": {
          "type": "heading",
          "name": "Heading",
          "settings": {
            "heading": "Rich text title"
          }
        },
        "text": {
          "type": "richtext",
          "name": "Text",
          "settings": {
            "text": "<p>We create with intention. Our products solve real problems with clean design and honest materials.</p>"
          }
        },
        "button": {
          "type": "button",
          "name": "button",
          "settings": {
            "button_label": "Button label",
            "button_link": "shopify://collections/all",
            "button_style": "primary",
            "button_type": "with-none"
          }
        }
      },
      "block_order": ["heading", "text", "button"],
      "settings": {}
    }
  ]
}
{% endschema %}
