.collage-grid-wrap {
  display: grid;
  gap: 1.6rem;
  grid: auto-flow 1fr / repeat(1, minmax(0, 1fr));

}

.collage-grid-media {
  position: relative;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  overflow: hidden;
  grid-area: span var(--row-mobile) / span var(--column-mobile);
  background: transparent;
}


.collage-grid-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  cursor: pointer;
}

.collage-grid-media:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
}


.collage-grid-media-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1.6rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(var(--color-background), 0.1) 0%,
      rgba(var(--color-background), 0.5) 100%);
  transition: all ease-in-out 0.3s;
}

.collage-grid-media:hover .collage-grid-media-content {
  top: 0rem;
  opacity: 1;
}
.collage-grid-media-link{
  height: 100%;
}
 
.collage-grid-media a.media:not(.media--no-hover):hover{
  opacity: 1;
}

.collage-grid-media-content h3,
.collage-grid-media-button {
  color: rgb(var(--color-heading));
  text-shadow: 0px 4px 4px rgba(var(--color-heading), 0.25);
  margin: 0;
}

.collage-grid-media:hover .collage-grid-media-content * {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  opacity: 1;
}

@media screen and (min-width: 768px) {
.collage-grid-wrap {
  grid: auto-flow 1fr / repeat(2, minmax(0, 1fr));
}
   .collage-grid-media{
     grid-area: span var(--row-tablet) / span var(--column-tablet);
   }
}



@media screen and (min-width: 992px) {
  .collage-grid-wrap {

    grid: auto-flow 1fr / repeat(4, minmax(0, 1fr));
  }

  .collage-grid-media {
    border-radius: 2.4rem;
    -webkit-border-radius: 2.4rem;
    -moz-border-radius: 2.4rem;
    -ms-border-radius: 2.4rem;
    -o-border-radius: 2.4rem;
    grid-area: span var(--row-desktop) / span var(--column-desktop);
  }


  .collage-grid-media-content {
    padding: 2.4rem;
    opacity: 0;
    top: -5rem;
    gap: 0.4rem;
  }

  .collage-grid-media-content h3,
  .collage-grid-media-button {
    transition: all ease-in-out 0.3s;
    transform: translateY(3rem);
    opacity: 0;
    transition-delay: 0.2s;
  }
}

@media screen and (min-width: 1200px) {
  .collage-grid-wrap {
    gap: 2.4rem;
  }
}

@media(max-width:550px) {

  .collage-grid-media img,
  .collage-grid-media video,
  .collage-grid-media iframe {
    min-height: 358px;
  }
}