/* =========================
   Wrapper
========================= */
.before-image--wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* =========================
   Before Image
========================= */
.before-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.before-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* =========================
   After Image
========================= */
.after-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: inset(0 0 0 var(--before-after-initial-drag-position, 50%));
  transition: clip-path 0.1s linear;
  z-index: 1;
}

.after-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* =========================
   Split Cursor Wrapper
========================= */
.split-cursor-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* =========================
   Split Cursor
========================= */
.split-cursor {
  display: grid;
  position: absolute;
  top: 0;
  height: 100%;
  left: var(--before-after-initial-drag-position, 50%);
  transform: translateX(-50%);
  place-items: center;
  cursor: grab;
  touch-action: none;
  will-change: transform;
  z-index: 20;
}

.split-cursor::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  background: rgba(var(--color-background), 0.2);
  z-index: -1;
}
.before-image--wrapper svg{
  opacity: 0.8;
}
/* =========================
   Drag Button
========================= */
.drag-button {
  background-color: rgb(var(--color-background));
  border-radius: 100px;
  cursor: pointer;
  line-height: 0;
  z-index: 1;
  width: 65px;
  height: 110px;
  border: 1px solid rgb(var(--color-background));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag-button::after {
  content: "";
  position: absolute;
  inset: -10px;
  border: 2px solid rgb(var(--color-background));
  border-radius: 120px;
  pointer-events: none;
}


.before__text,
.after__text {
  position: absolute;

  z-index: 1;
  width: fit-content;
}

.text-position-top {
  top: 40px;
}

.text-position-bottom {
  bottom: 40px;
  top: auto;
  height: auto;
}

.after__text {
  right: 50px;
  left: auto;
  height: auto;
}

.before__text {
  left: 50px;
}




/* =========================
   Mobile Adjustments
========================= */
@media screen and (max-width: 768px) {

  .drag-button {
    width: 40px;
    height: 70px;
    padding: 0;
  }

  .drag-button::after {
    inset: -6px;
  }

  .text-position-top{
    top: 16px;
  }
  .text-position-bottom{
    bottom: 16px;
  }
}