
.announcement-bar {
    z-index: 99;
    position: relative;
    top: 0;
    width: 100%;
}
.announcement-bar-social .ft-list-social__item:first-child{
    padding-left: 0;
}

.announcement-bar__inner {
    z-index: 99999;
    position: fixed;
    top: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, transform 0.5s ease, visibility 0.5s ease;
    left: 0;
    -webkit-transform: translateY(-101%);
    transform: translateY(-101%);
}

.announcement-bar-drawer.active .announcement-bar__inner {
    transform: translateZ(0);
    opacity: 1;
    visibility: visible;
}

.announcement-bar-header {
    background: rgba(var(--color-background));
}

.announcement-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;
    font-size: 1.4rem;
}

.announce-bar-swipper .slider-item {
    display: flex;
    align-items: center;
}

.announcement-bar-announce-content {
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.announcement-bar-announce-content p {
    margin: 0;
}

.announcement-bar-announce-content a,
.announcement-bar-toggler {
    color: rgb(var(--color-text));
    background: transparent;
    border: 0.1rem solid rgb(var(--color-accent));
    font-family: var(--font-body-family);
    font-size: 1.2rem;
    line-height: 1;
    padding: 0.2rem 0.8rem;
    border-radius: 2rem;
    margin-left: 0.8rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    line-height: 1.5;
    transition: all 0.3s ease-in;
}

.announcement-bar-announce-content a:hover,
.announcement-bar-toggler:hover {
    background: rgba(var(--color-accent));
    color: rgba(var(--color-background));
}

.announcement-bar-toggler svg {
    transition: rotate 0.3s ease;
    line-height: 1;
}

.announcement-bar-toggler.show svg {
    rotate: -90deg;
}

@media screen and (min-width: 576px) {

    .announcement-bar-announce-content a,
    .announcement-bar-toggler {
        padding: 0.4rem 1.2rem;
        font-size: 1.4rem;
        margin-left: 1.6rem;
    }
}

.announcement-bar-contact {
       text-align: right;
    font-style: normal;
    display: inline-block;
}

.announcement-bar-contact:hover {
    color: rgba(var(--color-accent));
}

@media screen and (min-width: 992px) {
    .announce-bar-swipper {
        height: 460px;
    }
}

@media screen and (min-width: 1400px) {
    .announce-bar-swipper {
        height: 543px;
    }
}

@media screen and (min-width: 1600px) {
    .announce-bar-swipper {
        height: 700px;
    }
}

.announcement-bar-drawer {
    position: absolute;
    z-index: -1;
    width: 100%;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}

.announcement-bar-drawer-wrapper {
    padding-top: 7rem;
    padding-bottom: 3rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 3.2rem;
    position: relative;
}

.announcement-drawer__bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
}

.announcement-drawer__bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.announcement-bar-drawer-content {
    color: rgba(var(--color-text));
}

.announcement__text--caption {
    padding: 0;
    margin: 0 0 1.2rem;
}

.announcement-bar-drawer-content .announcement__text-heading {
    line-height: 100%;
    margin: 0 0 2rem;
}
.announcement-bar-drawer-content .announcement__text-heading em{
    color: rgb(var(--color-accent));
    font-style: normal;
}
.announcement-text {
    margin: 0 0 2.4rem;
}

.announcement-text p {
    margin: 0;
}

@media screen and (min-width: 992px) {
 .announcement-bar-drawer-wrapper {
    column-gap: 10rem;
    row-gap: 3.2rem;

}

    .announcement-text {
        margin-bottom: 4.8rem;
    }
}

.announcement-bar-drawer-images {
    display: none;
    border-radius: 1.2rem;
    overflow: hidden;
    position: relative;
}

.announcement-bar-drawer-wrapper .video-media {
    border-radius: 1.2rem;
    overflow: hidden;
}

.image-link,
.announcement-bar-drawer-images {
    display: block;
    width: 100%;
}

@media screen and (min-width: 992px) {
    .announcement-bar-drawer-images {
        display: block;
    }
}

@media screen and (min-width: 750px) {
    .announcement-bar-drawer-wrapper {
        grid-template-columns: repeat(2, 1fr);
          padding: 7rem 3rem 2rem;
    }
}

@media screen and (min-width: 992px) {
    .announcement-bar-drawer-wrapper {
        grid-template-columns: repeat(2, 1fr);
             padding: 5rem 8rem 2rem;
    }
}

@media screen and (min-width: 1400px) {
    .announcement-bar-drawer-wrapper {
        grid-template-columns: repeat(2, 1fr);
        padding: 9rem 8rem 3rem;
    }


}

.announcement-bar-drawer-images video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: 30;
}

.announcement-bar-drawer .swiper-navigation {
    background-color: transparent !important;
    width: 100%;
    z-index: 40;
    display: none;
}

@media screen and (min-width: 992px) {
    .announcement-bar-drawer .swiper-navigation {
        display: flex;
    }
}